<h3>Register</h3>

    <form method="POST" action="">
        {% csrf_token %}
        
        <p>
            {{ form.username.label }}
            {{ form.username }}
        </p>
        
        <p>
            {{ form.email.label }}
            {{ form.email }}
        </p>
            
        <p>
            {{ form.password1.label }}
            {{ form.password1 }}
        </p>    
        
        <p>
            {{ form.password2.label }}
            {{ form.password2 }}
        </p>
        
        <p>
            {{ profil_form.nom.label }}
            {{ profil_form.nom }}
        </p>
        
        <p>
            {{ profil_form.prenom.label }}
            {{ profil_form.prenom }}
        </p>
        
        <p>
            {{ profil_form.date_n.label }}
            {{ profil_form.date_n }}
        </p>
        
        <p>
            {{ profil_form.sex.label }}
            {{ profil_form.sex }}
        </p>
        
        <p>
            {{ profil_form.status.label }}
            {{ profil_form.status }}
        </p>
        
        <p>
            {{ profil_form.nationalite.label }}
            {{ profil_form.nationalite }}
        </p>
        
        <p>
            {{ profil_form.pays.label }}
            {{ profil_form.pays }}
        </p>
        
        <p>
            {{ profil_form.ville.label }}
            {{ profil_form.ville }}
        </p>
        
        <p>
            {{ profil_form.telephone.label }}
            {{ profil_form.telephone }}
        </p>
        
        <p>
            {{ profil_form.adresse.label }}
            {{ profil_form.adresse }}
        </p>
        
        <p>
            {{ profil_form.linkdin.label }}
            {{ profil_form.linkdin }}
        </p>
        

        {{ form.errors }}

        <input type="submit" name="CreateUser">
    </form>