{% extends 'base.html' %}
{% load static %}


{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/cvcss.css' %}">
{% endblock  %}


{% block content %}


<div class="pr1">

  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>



  <div class="resume wow fadeInUp" data-wow-delay="0.1s">
    <div class="resume_left">
      <div class="resume_profile">
        {% if  profil.profil_pic.url is not None %}
        <img src="{{  profil.profil_pic.url }}" alt="profile_pic">
        {% else %}
        <img src="{% static 'images/user.png' %}" alt="profile_pic">
        {% endif %}
      </div>
      <div class="resume_content">
        <div class="resume_item resume_info">
          <div class="title">
            <p class="bold">{{  profil.nom }} {{  profil.prenom }}</p>

          </div>
          <ul>
            <li>
              <div class="icon">
                <i class="fas fa-map-signs"></i>
              </div>
              <div class="data">
                {{  profil.adresse }} <br /> {{  profil.pays }}
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fas fa-mobile-alt"></i>
              </div>
              <div class="data">
                {{ profil.telephone }}
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fas fa-envelope"></i>
              </div>
              <div class="data">
                {{ profil.user.email }}
              </div>
            </li>

          </ul>
        </div>
        <div class="resume_item resume_social">
          <div class="title">
            <p class="bold">Social</p>
          </div>
          <ul>
            <li>
              <div class="icon">
                <i class="fab fa-facebook-square"></i>
              </div>
              <div class="data">
                <p class="semi-bold">Facebook</p>
                <p>{{ profil.facebook }}</p>
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fab fa-twitter-square"></i>
              </div>
              <div class="data">
                <p class="semi-bold">Twitter</p>
                <p>{{ profil.twitter }}</p>
              </div>
            </li>
            <li>
              <div class="icon">
                <i class="fab fa-linkedin"></i>
              </div>
              <div class="data">
                <p class="semi-bold">Linkedin</p>
                <p>{{ profil.linkdin }}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="resume_right">
      <div class="resume_item resume_about">
        <div class="row mb-4">
          <div class="col">
            <a href="{% url 'profil_personel' profil.id %}" class="btn btn-md btn-success smoothScroll wow fadeInUp"
              data-wow-delay="0.4s"> <span>Go back to profil</span></a>
          </div>
        </div>
        
        <div class="row">
          <div class="col-4 title">
            <p class="bold">Speciality</p>
          </div>
          <div class="col-8">
            <p class="font-weight-bold" style="font-size: 30px;">{{  profil.poste }}</p>
          </div>
        </div>
      </div>
      <div class="resume_item resume_work">
        <div class="title">
          <p class="bold">Education</p>
        </div>
        <div>
          <br>
        </div>
        <ul>
          {% for academic in academics %}
          <li>
            <div class="date">{{ academic.annee_debut }} - {{ academic.annee_fin }}</div>
            <div class="info">
              <p class="semi-bold">{{ academic.type_diplome }} From <b>{{ academic.ecole }}</b></p>
              <div class="row">
                <div class="col-10">
                  {{ academic.description_academic }}
                </div>
              </div>
            </div>
            <br>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="resume_item resume_work">
        <div class="title">
          <p class="bold">Work Experience</p>
        </div>
        <div>
          <br>
        </div>
        <ul>
          {% for exp_pro in exp_pros %}
          <li>
            <div class="date">{{ exp_pro.annee_debut }} - {{ exp_pro.annee_fin }}</div>
            <div class="info">
              <div class="row">
                <div class="col-10">
                  {{ exp_pro.description_exp_pro }}
                </div>

              </div>
            </div>
            <br>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="resume_item resume_work">
        <div class="title">
          <p class="bold">Projects </p>
        </div>
        <div>

          <br>
        </div>
        <ul>
          {% for projet in projets %}
          <li>
            <div class="date">{{ projet.annee_projet }}</div>
            <div class="info">
              <div class="row">
                <div class="col-10">
                  {{ projet.description_projet }}
                </div>

              </div>
            </div>
            <br>
          </li>
          {% endfor %}
        </ul>
      </div>


      <div class="resume_item resume_work">
        <div class="title">
          <p class="bold">Certificate</p>
        </div>
        <div>

          <br>
        </div>
        <ul>
          {% for certificat in certificats %}
          <li>
            <div class="date">{{ certificat.date_cert }}</div>
            <div class="info">
              <div class="row">
                <div class="col-10">
                  Certificate in: <b>{{ certificat.titre_cert }}</b> <br> Credential ID:
                  <b>{{ certificat.accreditation }}</b>
                </div>

              </div>
            </div>
            <br>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="resume_item resume_work">
        <p class="bold">Languages</p>
        <div class="row mt-3">
          <div class="col-5">
            <b>
              <p>Language</p>
            </b>
          </div>

          <div class="col-5">
            <b>
              <p>Level</p>
            </b>
          </div>
        </div>
        <hr>
        {% for langue in langues %}
        <div class="row mt-2">
          <div class="col-5">
            {{ langue.langue }}
          </div>
          <div class="col-5">
            {{ langue.level }}
          </div>
        </div>
        {% endfor %}
      </div>

    </div>

  </div>
</div>
<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>
{% include 'bg-Entreprise.html' %}
</div>



{% endblock  %}