{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/update-profil-personel.css' %}">
{% endblock style %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<div class="container emp-profile border border-dark">
    <div class="row mb-3">
        <div class="col-4">
            <div class="profile-img">
                <div class="row ml-5">
                    {% if profil.profil_pic.url is not None %}
                    <img src="{{ profil.profil_pic.url }}" alt="" />
                    {% else %}
                    <img src="{% static 'images/user.png' %}" alt="" />
                    {% endif %}

                </div>
            </div>
        </div>

        <div class="col-6 mt-5">
            <div class="profile-head">
                <div class="row">
                    <div class="col">
                        <p class="font-weight-bold" style="font-size: 20px;">{{ profil.nom }} {{ profil.prenom }}</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <p class="font-weight-bold" style="font-size: 30px;">{{ profil.poste }}</p>
                    </div>
                </div>



                <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                            aria-controls="home" aria-selected="true">Personal informations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                            aria-controls="profile" aria-selected="false">Personality</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-2 mt-5 ">
            <a href="{% url 'cv' profil.id %}" class="btn btn-md btn-success smoothScroll wow fadeInUp"
                data-wow-delay="0.4s"> <span>View CV</span></a>
        </div>

    </div>
    <div class="row">
        <div class="col-md-4 ">
            <h3>Contact:</h3>
            <p>Phone: {{ profil.telephone }}</p>
            <p>Email: {{ profil.user.email }}</p>
            <p>Adress: {{ profil.adresse }}</p>

            {% if profil.linkdin is not None %}
            <a href="{{ profil.linkdin }}" class="fa  fa-linkedin"></a>
            {% else %}
            <a href="#" class="fa  fa-linkedin"></a>
            {% endif %}

            {% if profil.linkdin is not None %}
            <a href="{{ profil.twitter }}" class="fa fa-twitter"></a>
            {% else %}
            <a href="#" class="fa fa-twitter"></a>
            {% endif %}

            {% if profil.linkdin is not None %}
            <a href="{{ profil.facebook }}" class="fa fa-facebook"></a>
            {% else %}
            <a href="#" class="fa fa-facebook"></a>
            {% endif %}
        </div>
        <div class="col-md-8">
            <div class="tab-content profile-tab" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label>Gender:</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ profil.sex }}</p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label>Birthday:</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ profil.date_n }}</p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label>Status:</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ profil.status }}</p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label>Nationality:</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ profil.nationalite }}</p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label>Country of residence:</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ profil.pays }}</p>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <label>City:</label>
                        </div>
                        <div class="col-md-6">
                            <p>{{ profil.ville }}</p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <canvas id="myChart" width="400" height="400"></canvas>
                </div>
            </div>

        </div>
    </div>
    {% include 'bg-Entreprise.html' %}
</div>


<script>

    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: ['Openness', 'Conscientiousness', 'Extraversion', 'Agreeableness', 'Neuroticism'],
            datasets: [{
                labels: 'Personality',
                data: ["{{ score.ScoreOp }}", "{{ score.ScoreCon }}", "{{ score.ScoreExt }}", "{{ score.ScoreAgr }}", "{{ score.ScoreNeu }}"],
                backgroundColor: [
                    'rgba(255, 221, 0, 0.3)',


                ],
                borderColor: [
                    'rgba(255, 221, 0, 1)',

                ],
                borderWidth: 3,

                pointBackgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',

                ],
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            }
        }
    });
</script>

{% endblock content %}