
 .collapse-btn{
	 color: black;
 }
.header {
	overflow: hidden;
	background-color: #FFDC00;
	padding: 0px 10px;
  }
  
  .header a {
	float: right;
	color: black;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-size: 23px; 
	line-height: 25px;
	border-radius: 4px;
  }
  
  
  
  .header a:hover {
	background-color: black;
	color: white;
  }
  
  .header a.active {
	background-color: black;
	color: white;
  }
  .header-right {
	float: right;
  }
  
  @media screen and (max-width: 500px) {
	.header a {
	  float: none;
	  display: block;
	  text-align: left;
	}
	
	.header-right {
	  float: none;
	}
  }
