* {
    margin: 0;
    padding: 0;
    font-family: raleway, sans-serif;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-fluid {
    position: relative;
    margin-top: 20px;
}

.container-fluid .card {
    position: relative;
    width: 350px;
    height: 500px;
    background-color: #ffdc00;
    border-radius: 20px;
    overflow: hidden;
}

.container-fluid .card:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.container-fluid .card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.container-fluid .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: 0.5s;
}

.container-fluid .card:hover .imgBx {
    top: 0%;
    transform: translateY(0%);
}

.container-fluid .card .imgBx img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:200px;
    height: 200px;
    border-radius: 50%;
}

.container-fluid .card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}

.container-fluid .card:hover .contentBx {
    height: 250px;
}

.container-fluid .card .contentBx h2 {
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: black;
}

.container-fluid .card .contentBx .size {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px, 20px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.container-fluid .card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.5s;
}

.container-fluid .card .contentBx .size h3 {
    color: black;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.container-fluid .card .contentBx .size span a {
    background-color: #ffdc00;
    color: black;
    width: 36px;
    height: 36px;
    text-align: center;
    line-height: 26px;
    font-size: 30px;
    display: inline-block;
}

.container-fluid .card .contentBx a {
    display: inline-block;
    padding: 10px, 20px;
    background: black;
    border-radius: 4px;
    margin-top: 20px;
    text-decoration: none;
    font-weight: 600;
    color: #ffdc00;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s;
}

.container-fluid .card:hover .contentBx a {
    opacity: 1;
    transform: translateY(10px);
    transition-delay: 0.75;
}




.collapsible {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    margin-top: 30px;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  

  .active, .collapsible:hover {
    background-color: #ccc;
  }
  
  .content {
    padding: 0 18px;
    display: flex;
    overflow: hidden;

  }

    