{% extends 'base.html' %}
{% load static %}


{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/cvcss.css' %}">
{% endblock  %}

  
{% block content %}
    {% comment %} <section class="preloader">
  <div class="sk-circle">
       <div class="sk-circle1 sk-child"></div>
       <div class="sk-circle2 sk-child"></div>
       <div class="sk-circle3 sk-child"></div>
       <div class="sk-circle4 sk-child"></div>
       <div class="sk-circle5 sk-child"></div>
       <div class="sk-circle6 sk-child"></div>
       <div class="sk-circle7 sk-child"></div>
       <div class="sk-circle8 sk-child"></div>
       <div class="sk-circle9 sk-child"></div>
       <div class="sk-circle10 sk-child"></div>
       <div class="sk-circle11 sk-child"></div>
       <div class="sk-circle12 sk-child"></div>
     </div>
</section> {% endcomment %}


<div class="pr1">  
{% include 'nav-bar.html' %}   

<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

<a href="{% url 'Updateprofil' %}"  class="btn btn-lg btn-success smoothScroll wow fadeInUp" data-wow-delay="0.4s"> <span> Update your profile </span></a>

<div class="resume wow fadeInUp" data-wow-delay="0.1s">
   <div class="resume_left">
     <div class="resume_profile">
       {% if request.user.profil.profil_pic.url is not None %}
        <img src="{{ request.user.profil.profil_pic.url }}" alt="profile_pic">
      {% else %}
        <img src="{% static 'images/user.png' %}" alt="profile_pic">
      {% endif %}
     </div>
     <div class="resume_content">
       <div class="resume_item resume_info">
         <div class="title">
           <p class="bold">{{ request.user.profil.nom }} {{ request.user.profil.prenom }}</p>
          <p class="regular">Specialité</p>
         </div>
         <ul>
           <li>
             <div class="icon">
               <i class="fas fa-map-signs"></i>
             </div>
             <div class="data">
               {{ request.user.profil.adresse }} <br /> {{ request.user.profil.pays }}
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fas fa-mobile-alt"></i>
             </div>
             <div class="data">
               {{ request.user.profil.telephone }}
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fas fa-envelope"></i>
             </div>
             <div class="data">
               {{ request.user.email }}
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fab fa-weebly"></i>
             </div>
             <div class="data">
               <p>{{ request.user.profil.linkdin }}</p>
             </div>
           </li>
         </ul>
       </div>
       <div class="resume_item resume_skills">
         <div class="title">
           <p class="bold">skills</p>
         </div>
         <ul>
           <li>
             <div class="skill_name">
               skill 1
             </div>
             <div class="skill_progress">
               <span style="width: 80%;"></span>
             </div>
             <div class="skill_per">%</div>
           </li>
           <li>
             <div class="skill_name">
               Skill2
             </div>
             <div class="skill_progress">
               <span style="width: 70%;"></span>
             </div>
             <div class="skill_per">%</div>
           </li>
           <li>
             <div class="skill_name">
               skill3
             </div>
             <div class="skill_progress">
               <span style="width: 90%;"></span>
             </div>
             <div class="skill_per">%</div>
           </li>
           <li>
             <div class="skill_name">
               skill4
             </div>
             <div class="skill_progress">
               <span style="width: 60%;"></span>
             </div>
             <div class="skill_per">%</div>
           </li>
           <li>
             <div class="skill_name">
               skill5
             </div>
             <div class="skill_progress">
               <span style="width: 88%;"></span>
             </div>
             <div class="skill_per">%</div>
           </li>
         </ul>
       </div>
       <div class="resume_item resume_social">
         <div class="title">
           <p class="bold">Social</p>
         </div>
         <ul>
           <li>
             <div class="icon">
               <i class="fab fa-facebook-square"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Facebook</p>
               <p>None</p>
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fab fa-twitter-square"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Twitter</p>
               <p>None</p>
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fab fa-youtube"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Youtube</p>
               <p>None</p>
             </div>
           </li>
           <li>
             <div class="icon">
               <i class="fab fa-linkedin"></i>
             </div>
             <div class="data">
               <p class="semi-bold">Linkedin</p>
               <p>{{ request.user.profil.linkdin }}</p>
             </div>
           </li>
         </ul>
       </div>
     </div>
  </div>
  <div class="resume_right">
    <div class="resume_item resume_about">
        <div class="title">
           <p class="bold">About me</p>
         </div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perspiciatis illo fugit officiis distinctio culpa officia totam atque exercitationem inventore repudiandae?</p>
    </div>
    <div class="resume_item resume_work">
        <div class="title">
           <p class="bold">Education</p>
         </div>
         <div>
          <a class="btn btn-outline-primary btn-sm btn-block" href="{% url 'create_academic' %}">Add/Update Education</a>
          <br>
         </div>
        <ul>
          {% for academic in academics %}
          <li>
            <div class="date">{{ academic.annee_debut }} - {{ academic.annee_fin }}</div>
            <div class="info">
              <p class="semi-bold">{{ academic.type_diplome }} From <b>{{ academic.ecole }}</b></p>
              <div class="row">
                <div class="col-10">
                  {{ academic.description_academic }}
                </div>
                <div class="col-2">
                  <form method="POST" action="{% url 'delete_academic' academic.id %}">
                    {% csrf_token %}
                    <button class="btn btn-danger btn-block" type="submit" name="delete">
                      <img class="img-fluid" src="{% static 'images/delete.png' %}" alt="Delete">
                    </button>
                  </form>
                </div>
              </div>
            </div>
            <br>
        </li>
        {% endfor %}
        </ul>
    </div>
    <div class="resume_item resume_work">
      <div class="title">
           <p class="bold">Work Experience</p>
         </div>
         <div>
          <a class="btn btn-outline-primary btn-sm btn-block" href="{% url 'create_experience_pro' %}">Add/Update
            Work Experience</a>
          <br>
        </div>
      <ul>
        {% for exp_pro in exp_pros %}
        <li>
          <div class="date">{{ exp_pro.annee_debut }} - {{ exp_pro.annee_fin }}</div>
          <div class="info">
            <div class="row">
              <div class="col-10">
                {{ exp_pro.description_exp_pro }}
              </div>
              <div class="col-2">
                <form method="POST" action="{% url 'delete_experience_pro' exp_pro.id %}">
                  {% csrf_token %}
                  <button class="btn btn-danger btn-block" type="submit" name="delete">
                    <img class="img-fluid" src="{% static 'images/delete.png' %}" alt="Delete">
                  </button>
                </form>
              </div>
            </div>
          </div>
          <br>
        </li>
        {% endfor %}
        </ul>
    </div>
    
    <div class="resume_item resume_work">
      <div class="title">
        <p class="bold">Projects </p>
      </div>
      <div>
        <a class="btn btn-outline-primary btn-sm btn-block" href="{% url 'create_projet' %}">Add/Update Projects</a>
        <br>
      </div>
      <ul>
        {% for projet in projets %}
        <li>
          <div class="date">{{ projet.annee_projet }}</div>
          <div class="info">
            <div class="row">
              <div class="col-10">
                {{ projet.description_projet }}
              </div>
              <div class="col-2">
                <form method="POST" action="{% url 'delete_projet' projet.id %}">
                  {% csrf_token %}
                  <button class="btn btn-danger btn-block" type="submit" name="delete">
                    <img class="img-fluid" src="{% static 'images/delete.png' %}" alt="Delete">
                  </button>
                </form>
              </div>
            </div>
          </div>
          <br>
        </li>
        {% endfor %}
      </ul>
    </div>


    <div class="resume_item resume_work">
      <div class="title">
        <p class="bold">Certificate</p>
      </div>
      <div>
        <a class="btn btn-outline-primary btn-sm btn-block" href="{% url 'create_certificat' %}">Add/Update
          Certificate</a>
        <br>
      </div>
      <ul>
        {% for certificat in certificats %}
        <li>
          <div class="date">{{ certificat.date_cert }}</div>
          <div class="info">
            <div class="row">
              <div class="col-10">
                Certificate in: <b>{{ certificat.titre_cert }}</b> <br> Credential ID:
                <b>{{ certificat.accreditation }}</b>
              </div>
              <div class="col-2">
                <form method="POST" action="{% url 'delete_certificat' certificat.id %}">
                  {% csrf_token %}
                  <button class="btn btn-danger btn-block" type="submit" name="delete">
                    <img class="img-fluid" src="{% static 'images/delete.png' %}" alt="Delete">
                  </button>
                </form>
              </div>
            </div>
          </div>
          <br>
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="resume_item resume_work">
      <p class="bold">Languages</p>
      <a class="btn btn-outline-primary btn-sm btn-block" href="{% url 'create_language' %}">Add/Update Language</a>
      <div class="row mt-3">
        <div class="col-5">
          <b>
            <p>Language</p>
          </b>
        </div>

        <div class="col-5">
          <b>
            <p>Level</p>
          </b>
        </div>
      </div>
      <hr>
      {% for langue in langues %}
      <div class="row mt-2">
        <div class="col-5">
          {{ langue.langue }}
        </div>
        <div class="col-5">
          {{ langue.level }}
        </div>
        <div class="col-2">
          <form method="POST" action="{% url 'delete_language' langue.id %}">
            {% csrf_token %}
            <button class="btn btn-danger btn-block" type="submit" name="delete">
              <img class="img-fluid" src="{% static 'images/delete.png' %}" alt="Delete">
            </button>
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
      
    </div>

  </div>
 </div>
 <a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>
  {% include 'bg-Candidat.html' %}  
  </div>
  
  
  
{% endblock  %}


