{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/startcss.css' %}">
{% endblock %}



{% block content %}

<section class="preloader">
  <div class="sk-circle">
    <div class="sk-circle1 sk-child"></div>
    <div class="sk-circle2 sk-child"></div>
    <div class="sk-circle3 sk-child"></div>
    <div class="sk-circle4 sk-child"></div>
    <div class="sk-circle5 sk-child"></div>
    <div class="sk-circle6 sk-child"></div>
    <div class="sk-circle7 sk-child"></div>
    <div class="sk-circle8 sk-child"></div>
    <div class="sk-circle9 sk-child"></div>
    <div class="sk-circle10 sk-child"></div>
    <div class="sk-circle11 sk-child"></div>
    <div class="sk-circle12 sk-child"></div>
  </div>
</section>


<div class="pr1">
  

  <section id="home">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-12">
          <div class="home-thumb">
            <h1 class="wow fadeInUp" data-wow-delay="0.4s">Welcome to the <strong>Candidats</strong> section!</h1>
            <h3 class="wow fadeInUp" data-wow-delay="0.6s">Build your <strong>profile</strong> here
              <strong>quickly</strong> and for <strong>Free</strong>!</h3>
            <a href="#intro" class="btn btn-lg btn-default smoothScroll wow fadeInUp hidden-xs" data-wow-delay="0.8s"
              data-hover="Click to scroll!">
              <div> More informations</div>
            </a>
            <a href="{% url 'register' %}" data-target="#modal1"
              class="btn btn-lg btn-success smoothScroll wow fadeInUp" data-wow-delay="1.0s"> <span> Get started!
              </span></a>
          </div>
        </div>

      </div>
    </div>
  </section>
</div>



<div class="pr2" id="intro">

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12" id="bruh">
          <img src="{% static 'images/com.png' %}" class="img-responsive wow fadeInUp" width="350px" height="250px"
            style="top:10%; position:relative;">
          <img src="{% static 'images/mac.png' %}" class="img-responsive wow fadeInUp" width="300px" height="150px" style="position:absolute; top: 50%;
  left: 250px;">


        </div>

        <div class="col-md-6 col-sm-12">
          <div class="about-thumb">
            <div class="section-title">
              <h1 class="wow fadeIn" data-wow-delay="0.2s">Scout CV</h1>
              <h3 class="wow fadeInUp" data-wow-delay="0.4s"><strong>Digitalising</strong> your
                <strong>employment</strong> process!</h3>
            </div>
            <div class="wow fadeInUp" data-wow-delay="0.6s">
              <p>Vivamus elit risus, porttitor id placerat ut, aliquet non quam. Pellentesque nulla metus, ornare et
                porttitor vel, consectetur vitae erat. Vestibulum tristique semper tellus vitae condimentum. Duis sed
                eros eget diam dictum posuere.</p>
              <p>Aliquam vel gravida ligula. Phasellus ut purus ac libero ultrices commodo commodo at quam. In
                vestibulum purus sit amet tempus euismod. Donec sed congue nisl.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <a href="#cv" data-wow-delay="0.8s">
      <div class="arrow">
        <span></span>
        <span></span>
        <span></span>

      </div>
    </a>
  </section>


  <div class="cube2"></div>
  <div class="cube2"></div>
  <div class="cube2"></div>
  <div class="cube2"></div>
  <div class="cube2"></div>
  <div class="cube2"></div>
</div>

<div class="st1" id="cv">
  <section>
    <div class="container">
      <div class="row">

        <div class="col-md-6 col-sm-12">
          <img src="{% static 'images/cv.png' %}" class="img-responsive wow fadeInUp" height="300px">
        </div>

        <div class="col-md-6 col-sm-12">
          <div class="about-thumb">
            <div class="section-title">
              <h1 class="wow fadeIn" data-wow-delay="0.2s">Build Your CV</h1>
              <h4 class="wow fadeInUp" data-wow-delay="0.4s">And get it automatically reviewed and rated!</h4>
            </div>
            <div class="wow fadeInUp" data-wow-delay="0.6s">
              <p>Make your own CV for free, easily and quickly and let our reliable AI system rate it.</p>
              <p>Post it so you can get scouted by employers on our website.</p>
            </div>

          </div>
        </div>

      </div>





      <a href="#about" data-wow-delay="0.8s">
        <div class="arrow">
          <span></span>
          <span></span>
          <span></span>

        </div>
      </a>
  </section>

  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>
  <div class="cube"></div>

</div>





<div class="st2" id="about">
  <section>
    <div class="container">
      <div class="row">

        <div class="col-md-6 col-sm-12">
          <img src="{% static 'images/tes.png' %}" class="img-responsive wow fadeInUp" height="300px">
        </div>

        <div class="col-md-6 col-sm-12">
          <div class="about-thumb">
            <div class="section-title">
              <h1 class="wow fadeIn" data-wow-delay="0.2s">Take a free personality test!</h1>

            </div>
            <div class="wow fadeInUp" data-wow-delay="0.4s">
              <p>Find out what type you personality is by taking a quick personality quiz</p>
              <p>a good selection of questions carefully picked and advised by a psychologist wil determine you
                personality traits with accuracy</p>
              <p>The results will be added to your profile to give the employer an idea about you. </p>
            </div>
          </div>
        </div>

      </div>
    </div>


    <a href="#p3" data-wow-delay="0.8s">

      <div class="arrow">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </a>
  </section>

  <div class="cube2"></div>
  <div class="cube2"></div>
  <div class="cube2"></div>
  <div class="cube2"></div>
  <div class="cube2"></div>
  <div class="cube2"></div>

</div>

<div class="pr3" id="p3">

  <section id="contact" class="tm-section-pad-top tm-parallax-2">
    <div class="container tm-container-contact">
      <div class="row">
        <div class="col-12">
          <h2 class="mb-4 tm-section-title wow fadeInUp" data-wow-delay="0.4s">Contact Us</h2>
          <div class="mb-5 tm-underline">
            <div class="tm-underline-inner"></div>
          </div>
          <h4 class="mb-5 wow fadeInUp" data-wow-delay="0.6s">
            Get in touch with our team via Email or Phone:
          </h4>
        </div>

        <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item wow fadeInUp" data-wow-delay="0.8s">
          <a href="tel:0100200340" class="tm-contact-item-link">
            <i class="fas fa fa-phone icon mr-4"></i>
            <span class="mb-0">010-020-0340</span>
          </a>
        </div>
        <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item wow fadeInUp" data-wow-delay="0.8s">
          <a href="mailto:info@company.co" class="tm-contact-item-link">
            <i class="fas fa fa-envelope icon mr-4"></i>
            <span class="mb-0">info@company.co</span>
          </a>
        </div>
      </div>
      <h4 class="mb-5 wow fadeInUp" data-wow-delay="1s">
        Subscribe to our newsletter!
      </h4>
      <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item wow fadeInUp" data-wow-delay="1.1s">
        <form action="" method="get">
          <input name="email" type="email" placeholder="Subscribe your email" class="tm-input" required />
          <button type="submit" class="btn tm-btn-submit mb-4">Submit</button>
        </form>
      </div>
    </div>
  </section>
{% include 'footer.html' %}
</div>


<a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>


{% endblock  %}