{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/update-profil-personel.css' %}">
{% endblock style %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% include 'nav-bar.html' %}

<div class="container emp-profile border border-dark">
    
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col text-center">
            {% if score is None %}
                <a href="{% url 'personalite' %}"  class="btn btn-lg btn-success smoothScroll wow fadeInUp centre" data-wow-delay="1.0s"> <span> Take a Personality quiz</span></a>
            {% endif %}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="profile-img">
                    <div class="row ml-5">
                        {% if request.user.profil.profil_pic.url is not None %}
                            <img src="{{ request.user.profil.profil_pic.url }}" alt="" />
                        {% else %}
                            <img src="{% static 'images/user.png' %}" alt="" />
                        {% endif %}
                    </div>
                    <div class="row ml-5 mt-3">
                        {{ form.profil_pic }}
                    </div>
                </div>
            </div>
            

            <div class="col-md-6 mt-5">
                <div class="profile-head">                
                        <div class="row">
                            <div class="col">
                                {{ form.nom }}
                            </div>
                            <div class="col">
                                {{ form.prenom }}
                            </div>
                        </div>                    
                    <div class="row mt-4">
                        <div class="col">
                            {{ form.specialite }}
                        </div>
                    </div>

                    <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">Personal informations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                aria-controls="profile" aria-selected="false">Personality</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2  mt-5">
                <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 ">
                <h3>Contact:</h3>
                <p>Phone: {{ form.telephone }}</p>
                <p>Email: {{ formUser.email }}</p>
                <p>Adress: {{ form.adresse }}</p>


                <a href="#" class="fa  fa-linkedin"></a>
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label>Username:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ formUser.username }}</p>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label>Gender:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ form.sex }}</p>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label>Birthday:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ form.date_n }}</p>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label>Status:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ form.status }}</p>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label>Nationality:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ form.nationalite }}</p>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label>Country of residence:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ form.pays }}</p>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label>City:</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{ form.ville }}</p>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col">
                                <input type="submit" class="btn btn-dark btn-block button-hover" name="UpdateProfil"
                                    value="Update" />
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <canvas id="myChart" width="400" height="400"></canvas>                    
                    </div>
                </div>
                
            </div>
        </div>

    </form>
    
    <br>
    {% for message in messages %}
    <p class="text-danger"> {{ message }} </p>
    {% endfor %}

    {% include 'bg-Candidat.html' %}

</div>

<script>
    
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: ['Openness', 'Conscientiousness', 'Extraversion', 'Agreeableness', 'Neuroticism'],
            datasets: [{
                labels: 'Personality',
                
                data: ["{{ score.ScoreOp }}", "{{ score.ScoreCon }}", "{{ score.ScoreExt }}", "{{ score.ScoreAgr }}", "{{ score.ScoreNeu }}"],
                backgroundColor: [
                    'rgba(255, 221, 0, 0.3)',
                    
                    
                ],
                borderColor: [
                    'rgba(255, 221, 0, 1)',                
                    
                ],
                borderWidth: 3,

                pointBackgroundColor :[
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    
                ],                
            }]
        },
        options: {
            scales: {                
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            }
        }
    });
    </script>

{% endblock content %}