{% extends 'base.html' %}
{% block content %}
    <h1>Profil</h1>
    <p>{{ profil.nom }}</p>
    <p>{{ profil.prenom }}</p>
    
    <div class='container'>
        <a class="btn btn-primary btn-sm btn-block" href="{% url 'create_projet' profil.id %}">Add Projet</a>
        <table>
            <tr>
                <th>Annee Projet</th>
                <th>Description</th>
            </tr>
        {% for projet in projets %}

            <tr>
                <td>{{ projet.annee_projet }}</td>
                <td>{{ projet.description_projet }}</td>
                <td><a class="btn btn-primary" href="{% url 'update_projet' projet.id %}">Update</a></td>
                <td><a class="btn btn-danger" href="{% url 'delete_projet' projet.id %}">Delete</a></td>
            </tr>

        {% endfor %}

        </table>
    </div>
{% endblock content %}
